.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave {
  opacity: 1;
  display: none;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.animated-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
   
}
